name: CI
on:
  push:
    branches:
    - master
  pull_request:
    branches:
    - master

jobs:
  test:
    name: Run Tests
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4

    - uses: actions/setup-python@v5
      with:
        python-version: '3.12'

    - name: Build smbprotocol
      run: |
        python -m pip install ansible-core ansible-lint
        ansible-galaxy collection install -r requirements.yml
        ansible-lint --profile min
